// Design System Color
$AB-Light06: #f3f8fc;
$SG-light05: #f8f8f8;
$SG-light03: #d3d4d7;
$PR-Dark01: #b0261b;
$ZealOrange: #ed8c00;
$ZO-light03: #fae0c4;
$SG-light01: #7c7f87;
$Stablegrey: #50545f;
$Stablegrey2: #a8aaaf;
$OffBlack: #191b1e;
$OceanTurquoise: #46d1ca;
$AssuranceBlue: #0073e0;
$PlanetGreenLight01: #44ba82;
$PlanetGreenLight04: #e1f4eb;
$PlanetGreen: #05a358;
$StableGreyLight03: #d3d4d7;

// Responsive width
$mobile: 576px;
$tablet: 768px;
$largeWindow: 1180px;
